{% comment %}theme-check-disable ParserBlockingScriptTag{% endcomment %}
{{ 'micromodal.css' | asset_url | stylesheet_tag }}
{{ 'micromodal.js' | asset_url | script_tag }}
{% comment %}theme-check-enable ParserBlockingScriptTag{% endcomment %}

<div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div
      class="modal__container"
      role="dialog"
      aria-modal="true"
      aria-labelledby="modal-1-title"
    >
      <header class="modal__header">
        <h2 class="modal__title" id="modal-1-title">Mystery Discount</h2>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <main class="modal__content">
        <div id="modal-1-content"></div>
        <div id="extra_things_id"></div>
      </main>
      <footer class="modal__footer">
        <button class="modal__btn modal__btn-primary" data-micromodal-close>Continue</button>
        <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
      </footer>
    </div>
  </div>
</div>

<script>
  console.log('MYSTERY APP BLOCK 12-01-2023 v75');

  function setCookie(cname, cvalue, exdays) {
    const d = new Date();
    d.setTime(d.getTime() + exdays * 24 * 60 * 60 * 1000);
    let expires = 'expires=' + d.toUTCString();
    document.cookie = cname + '=' + cvalue + ';' + expires + ';path=/';
  }

  function getCookie(cname) {
    let name = cname + '=';
    let ca = document.cookie.split(';');
    for (let i = 0; i < ca.length; i++) {
      let c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return '';
  }

  function counter(id, start, end, duration) {
    let obj = document.getElementById(id),
      current = start,
      range = end - start,
      increment = end > start ? 1 : -1,
      step = Math.abs(Math.floor(duration / range)),
      timer = setInterval(() => {
        current += increment;
        obj.textContent = current;
        if (current == end) {
          clearInterval(timer);
        }
      }, step);
  }

  console.log(getCookie('discount_code'));
  console.log(getCookie('shop_name'));
  console.log(getCookie('message'));
  console.log(getCookie('pop_up_type'));
  console.log(getCookie('pop_up_data'));

  let my_address = window.location.href;
  let my_shop = Shopify.shop;
  // console.log(my_address);
  // console.log("CTH I");
  if (my_address.includes('app_dis')) {
    const queryString = window.location.search;
    // console.log(queryString);

    const urlParams = new URLSearchParams(queryString);
    // console.log(urlParams);

    const campaign_id = urlParams.get('camp');
    // console.log(campaign_id);

    if (campaign_id) {
      if (getCookie('shop_name') != '') {

        if(getCookie('pop_up_type') != '' && getCookie('pop_up_type') == 'basic' ) {
            console.log("1");
        } else if(getCookie('pop_up_type') != '' && getCookie('pop_up_type') == 'system_counter' ) {
            console.log("2");
            document.getElementById('extra_things_id').innerHTML +=
            `<div style="display:flex;justify-content:center">
                <div id="count1" class="display-4"> </div>
            </div>`;
            counter("count1", 4, 0, 5000);
        } else if(getCookie('pop_up_type') != '' && getCookie('pop_up_type') == 'system_gif' ) {
            console.log("3");
            document.getElementById('extra_things_id').innerHTML +=
            `<div style="display:flex;justify-content:center">
                <img src="https://05a9-2400-adc5-1b3-b500-b4f8-dc63-bb74-6520.in.ngrok.io/images/basic_animation.gif" alt="animation" width="400" height="400">
            </div>`;
        } else if(getCookie('pop_up_type') != '' && getCookie('pop_up_type') == 'client_gif' ) {
            console.log("4");
            document.getElementById('extra_things_id').innerHTML +=
            `<div style="display:flex;justify-content:center">
                <img src="https://05a9-2400-adc5-1b3-b500-b4f8-dc63-bb74-6520.in.ngrok.io/${getCookie('pop_up_data')}" alt="animation" width="400" height="400">
            </div>`;
        }

        document.getElementById('modal-1-content').innerHTML += `<p> ${getCookie('message')} </p>`;
        MicroModal.show('modal-1');

        console.log('ALREADY SAVED WORKING');
      } else {
        let formData2 = {
          shop: Shopify.shop,
          campaign_id: campaign_id,
        };

        fetch(`https://05a9-2400-adc5-1b3-b500-b4f8-dc63-bb74-6520.in.ngrok.io/api/get_campaign_discount`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(formData2),
        })
          .then((response) => {
            return response.json();
          })
          .then((data) => {
            console.log(data);

            if (data.success == true) {
              const oneDay = 24 * 60 * 60 * 1000; // hours*minutes*seconds*milliseconds
              const firstDate = new Date();
              const secondDate = new Date(data.data3);
              const diffDays = Math.round((secondDate - firstDate) / oneDay);

              let message1 = '';
              let message2 = '';

              if (diffDays > 0) {
                setCookie('discount_code', data.data, diffDays);
                setCookie('shop_name', Shopify.shop, diffDays);

                if (data.data2 == 'percentage') {
                  message1 = `CONGRATS! You won the Discount of ${data.data1}%. Use discount code ${data.data} to avail the discount`;
                  message2 = `You already won the Discount of ${data.data1}%. Use discount code ${data.data} to avail the discount`;
                } else {
                  message1 = `CONGRATS! You won the Discount of $${data.data1}. Use discount code ${data.data} to avail the discount`;
                  message2 = `You already won the Discount of $${data.data1}. Use discount code ${data.data} to avail the discount`;
                }

                document.getElementById('modal-1-content').innerHTML += `<p> ${message1} </p>`;

                setCookie('message', message2, diffDays);
                setCookie('pop_up_type', data.data4, diffDays);
                setCookie('pop_up_data', data.data5, diffDays);

                if(data.data4 == 'basic' ) {
                    console.log("1");
                } else if(data.data4 == 'system_counter' ) {
                    console.log("2");
                    document.getElementById('extra_things_id').innerHTML +=
                    `<div style="display:flex;justify-content:center">
                        <div id="count1" class="display-4"> </div>
                    </div>`;
                    counter("count1", 4, 0, 5000);
                } else if(data.data4 == 'system_gif' ) {
                    console.log("3");
                    document.getElementById('extra_things_id').innerHTML +=
                    `<div style="display:flex;justify-content:center">
                        <img src="https://05a9-2400-adc5-1b3-b500-b4f8-dc63-bb74-6520.in.ngrok.io/images/basic_animation.gif" alt="animation" width="400" height="400">
                    </div>`;
                } else if(data.data4 == 'client_gif' ) {
                    console.log("4");
                    document.getElementById('extra_things_id').innerHTML +=
                    `<div style="display:flex;justify-content:center">
                        <img src="https://05a9-2400-adc5-1b3-b500-b4f8-dc63-bb74-6520.in.ngrok.io/${data.data5}" alt="animation" width="400" height="400">
                    </div>`;
                }

                MicroModal.show('modal-1');
                console.log('NEW DATA SAVED AND SHOWING');
              }
            } else {
              console.log(data.message);
            }
          })
          .catch((error) => {
            console.error(error);
          });
      }
    }
  }

  if (my_address.includes('cart')) {
    console.log('Please Let me know. here is the cart');

    document.querySelectorAll('[name="checkout"]')[1].addEventListener('click', function (event) {
      event.preventDefault();
      console.log('CTH II');
      getCookie('discount_code');
      getCookie('shop_name');
      var action_src = 'https://' + getCookie('shop_name') + '/checkout?discount=' + getCookie('discount_code');
      console.log(action_src);
      window.location.href = action_src;
    });
  }

  if (my_address.includes('products')) {
    console.log('Please Let me know. here is the cart');

    document.querySelectorAll('[name="checkout"]')[0].addEventListener('click', function (event) {
      event.preventDefault();
      console.log('CTH II');
      getCookie('discount_code');
      getCookie('shop_name');
      var action_src = 'https://' + getCookie('shop_name') + '/checkout?discount=' + getCookie('discount_code');
      console.log(action_src);
      window.location.href = action_src;
    });

    document.querySelector('[data-testid="Checkout-button"]').addEventListener('click', function (event) {
      event.preventDefault();
      event.stopPropagation();

      const formData = {
        items: [
          {
            quantity: 1,
            id: document.getElementsByName('id')[0].value,
          },
        ],
      };

      fetch('/cart/add.js', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(formData),
      })
        .then((response) => {
          return response.json();
        })
        .then((data) => {
          // console.log(data);
          getCookie('discount_code');
          getCookie('shop_name');
          var action_src = 'https://' + getCookie('shop_name') + '/checkout?discount=' + getCookie('discount_code');
          console.log(action_src);
          window.location.href = action_src;
        })
        .catch((error) => {
          console.error(error);
        });

      // return false;
    });
  }
</script>

{% schema %}
{
  "name": "Mystery App",
  "target": "body",
  "settings": []
}
{% endschema %}
